.header {
	position: absolute;
	top: 50px; 
	left: 100px; 
	z-index: 500; 
	font-size: 50px !important;
	background-color: rgba(221, 221, 221, 0.45); 
	padding: 20px !important;
}
.cadastre_title {
	background-color: whitesmoke;
}